

.imgStyle{
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
    position: relative;
    overflow: hidden;
}

.cartoonImg{
    background: url('/assets/img2.png')no-repeat;
    position: absolute;
    bottom: 0;left: 0;right: 0;top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 65% 100px;
    z-index: 1;
}

.cloud_one{
    background: url('/assets/cloud_1.png')no-repeat;
    position: absolute;
    top: 65%;left: 10%;
    width: 180px;
    height: 100px;
    background-size: contain;
    z-index: 2;
    transform: translateX(290%);
    animation: cloud_one 25.5s ease-in 5.9s infinite;
}

.cloud_two{
    background: url('/assets/cloud_2.png')no-repeat;
    position: absolute;
    top: 49%;right: 50%;
    width: 200px;
    height: 100px;
    background-size: contain;
    z-index: 0;
    transform: translateX(290%);
    animation: cloud_two infinite 18.5s ease-in 0.9s;
}

/* css keyframes */
@keyframes cloud_one{
    0%{
        transform: translateX(290%);
    }
    100%{
        transform: translateX(-250%);
    }
}

@keyframes cloud_two{
    0%{
        transform: translateX(220%);
    }
    100%{
        transform: translateX(-250%);
    }
}
